@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import "abstracts/mixins";

$systemfont: ui-monospace, 'SF Mono', 'Roboto Mono', system-ui, -apple-system, BlinkMacSystemFont, Ubuntu;
$page-font-size: 10pt;
$paragraph-margin: 1em;
$lil-arrow-size: 22;

:root {
    --bg-color: white;
    --fg-color: #555;
    --fg-important-color: #121212;
    text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --fg-color: rgb(209, 209, 209);
        --fg-important-color: white;
    }
}

::selection {
    background-color: var(--fg-color);
    color: white;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: $systemfont;
    font-size: $page-font-size;
    background: var(--bg-color);
    color: var(--fg-color);
    text-align: center;
}

a {
    color: var(--fg-color);
    text-decoration: none;
}

a:hover {
    color: var(--fg-important-color);
    text-decoration: underline;
    text-decoration-style: wavy;
}

.dummy, .centered {
    display: inline-block;
    vertical-align: middle;
}
.dummy {
    width: 1px;
    height: 100%;
}

.centered {
    height: fit-content;
    margin: 0 auto;
    text-align: left;
}

.centered > header, main, footer {
    width: 65ch;
    height: fit-content;
    margin: 1em auto;
}

%lil-arrow {
    content: "";
    display: inline-block;
    margin-top: -1px;
    margin-left: -#{$lil-arrow-size}px;
    vertical-align: middle;
    width: #{$lil-arrow-size}px;
    height: #{$lil-arrow-size}px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-caret-right' width='#{$lil-arrow-size}' height='#{$lil-arrow-size}' viewBox='0 0 24 24' stroke-width='0' stroke='currentColor' fill='currentColor' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M18 15l-6 -6l-6 6h12' transform='rotate(90 12 12)'%3E%3C/path%3E%3C/svg%3E");
}

.centered > header {
    text-align: left;
    margin-bottom: 2em;

    header {
        margin-bottom: 1em;
        h1 {
            margin: 0;
            font-size: 1rem;
            &:before {
                @extend %lil-arrow;
            }
        }
    }
}

main {
    text-align: justify;
    h2 { 
        font-size: 1rem;
        margin: 0;
        & + p { margin-top: 0; }
        &:before {
            @extend %lil-arrow;
        }
    }
    p { 
        margin: 1em 0;
        line-height: 1.5em;
    }
}

header h1, h2, strong {
    color: var(--fg-important-color);
    &::selection {
        background-color: var(--fg-important-color);
        color: var(--bg-color);
    }
}

footer {
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    body, html {
        overflow-y: hidden;
    }
    
    .centered { width: calc(100% - 1px); }

    .centered > header, main, footer { width: calc(100% - #{$lil-arrow-size * 2}px); padding: 0 #{$lil-arrow-size}px; }
}

@media (prefers-color-scheme: dark) {
    $fg-important-color: "f0f6fc";
    :root {
        --bg-color: #010409;
        --fg-color: #c9d1d9;
        --fg-important-color: #{"#" + $fg-important-color};
    }
    %lil-arrow {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-caret-right' width='22' height='22' viewBox='0 0 24 24' stroke-width='0' stroke='%23#{$fg-important-color}' fill='%23#{$fg-important-color}' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M18 15l-6 -6l-6 6h12' transform='rotate(90 12 12)'%3E%3C/path%3E%3C/svg%3E");
    }
    ::selection {
        background: rgba(255, 255, 255, 0.15);
    }
}
